<h1>Fill in the form to create a poll</h1>

<hr/>

<form ng-submit="create.submit()">
  <div class="row">
    <div class="col-md-8 col-md-push-2">
      <!-- Errors panel -->
      <div class="alert alert-danger" role="alert" ng-show="create.errors.length > 0">
        <ul>
          <li ng-repeat="error in create.errors">{{ error }}</li>
        </ul>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <!-- Question -->
          <p>
          <div class="input-group">
            <span class="input-group-addon">Question</span>
            <input ng-model="create.inputs.question" type="text" class="form-control" placeholder="Question" aria-describedby="basic-addon1">
          </div>
          </p>
          <hr/>
          <!-- Option 1 -->
          <p>
          <div class="input-group">
            <span class="input-group-addon">Option 1</span>
            <input ng-model="create.inputs.options.option_1" type="text" class="form-control" placeholder="Option 1" aria-describedby="basic-addon1">
          </div>
          </p>
          <!-- Option 2 -->
          <p>
          <div class="input-group">
            <span class="input-group-addon">Option 2</span>
            <input ng-model="create.inputs.options.option_2" type="text" class="form-control" placeholder="Option 2" aria-describedby="basic-addon1">
          </div>
          </p>
          <!-- Option 3 -->
          <p>
          <div class="input-group">
            <span class="input-group-addon">Option 3</span>
            <input ng-model="create.inputs.options.option_3" type="text" class="form-control" placeholder="Option 3" aria-describedby="basic-addon1">
          </div>
          </p>
          <!-- Option 4 -->
          <p>
          <div class="input-group">
            <span class="input-group-addon">Option 4</span>
            <input ng-model="create.inputs.options.option_4" type="text" class="form-control" placeholder="Option 4" aria-describedby="basic-addon1">
          </div>
          </p>
          <!-- Submit -->
          <button type="submit" class="btn btn-success pull-right">Submit Poll</button>
        </div>
      </div>
    </div>
  </div>
</form>
